.u-section-1 {
  background-image: url("images/17119513.jpg");
  min-height: 809px;
}

.u-section-1 .u-group-1 {
  min-height: 96px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(26,26,26,1);
  animation-duration: 1000ms;
  width: 378px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
    min-height: 648px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-family: Montserrat, sans-serif;
    margin-top: -381px;
    margin-left: calc(((100% - 1140px) / 2) + 381px);
    margin-right: calc(((100% - 1140px) / 2) + 381px);
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 567px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 502px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -235px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 962px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 13px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 912px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-line-1 {
  margin-top: -30px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: right center 0px;
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-weight: 900;
  font-size: 1.875rem;
  margin: 6px 0 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: right center 0px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  line-height: 25.6px;
  font-weight: normal;
  margin: 18px 0 0;
}

.u-section-2 .u-line-3 {
  height: 3px;
  transform-origin: right center 0px;
  width: 540px;
  margin: -466px auto 0 0;
}

.u-section-2 .u-line-4 {
  height: 3px;
  transform-origin: right center 0px;
  margin-bottom: 0;
  margin-top: 93px;
  margin-left: 0;
}

.u-section-2 .u-line-5 {
  height: 3px;
  transform-origin: right center 0px;
  margin-bottom: 0;
  margin-top: 123px;
  margin-left: 0;
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 176px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-line-7 {
  height: 3px;
  transform-origin: right center 0px;
  margin-bottom: 0;
  margin-top: -255px;
  margin-left: 0;
}

.u-section-2 .u-line-8 {
  height: 3px;
  transform-origin: right center 0px;
  width: 540px;
  margin: 152px auto 0 0;
}

.u-section-2 .u-line-9 {
  height: 3px;
  transform-origin: right center 0px;
  margin-bottom: 0;
  margin-top: 177px;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 912px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 16.29%;
  background-position: 50% 16.29%;
  width: 481px;
  height: 912px;
  animation-duration: 1000ms;
  margin: 93px auto -123px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 752px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 367px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -391px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 210px;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: -192px;
  }

  .u-section-2 .u-line-3 {
    margin-top: -431px;
    width: 440px;
  }

  .u-section-2 .u-line-4 {
    margin-left: initial;
  }

  .u-section-2 .u-line-5 {
    margin-left: initial;
  }

  .u-section-2 .u-line-6 {
    margin-left: initial;
  }

  .u-section-2 .u-line-7 {
    margin-left: initial;
  }

  .u-section-2 .u-line-8 {
    width: 440px;
  }

  .u-section-2 .u-line-9 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 752px;
    background-position: 50% 16.29%;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 834px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 372px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -396px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 498px;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: -480px;
  }

  .u-section-2 .u-line-3 {
    width: 330px;
  }

  .u-section-2 .u-line-8 {
    width: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 407px;
    height: 626px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 111px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -135px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 114px;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: -96px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 436px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -460px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 366px;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: -352px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1712px;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin: 104px auto 0 0;
}

.u-section-3 .u-group-1 {
  min-height: 144px;
  height: auto;
  background-image: none;
  animation-duration: 1000ms;
  margin: 8px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(26,26,26,1);
  animation-duration: 1000ms;
  width: 378px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 567px;
  animation-duration: 1000ms;
  background-image: linear-gradient(#8b00ff, #46005c);
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 7px 3px 11px 0px rgba(0,0,0,1);
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 48px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  text-shadow: -2px 2px 8px rgba(26,26,26,1);
  margin: 50px 11px 0 35px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 71px 130px 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 139px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 567px;
  animation-duration: 1000ms;
  background-image: linear-gradient(#8b00ff, #46005c);
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 7px 3px 11px 0px rgba(0,0,0,1);
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 21px auto 0 42px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  text-shadow: -2px 2px 8px rgba(26,26,26,1);
  font-weight: normal;
  margin: 21px 19px 0;
}

.u-section-3 .u-text-10 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 567px;
  animation-duration: 1000ms;
  background-image: linear-gradient(#8b00ff, #46005c);
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 7px 3px 11px 0px rgba(0,0,0,1);
}

.u-section-3 .u-text-12 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 50px 120px 0 auto;
}

.u-section-3 .u-text-14 {
  font-size: 1.875rem;
  text-shadow: -2px 2px 8px rgba(26,26,26,1);
  margin: 21px 8px 0 27px;
}

.u-section-3 .u-text-15 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  margin: 0 142px 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 581px;
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 581px;
  animation-duration: 1000ms;
  background-image: linear-gradient(#8b00ff, #46005c);
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 7px 3px 11px 0px rgba(0,0,0,1);
}

.u-section-3 .u-text-17 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.875rem;
  text-shadow: -2px 2px 8px rgba(26,26,26,1);
  margin: 11px 17px 0;
}

.u-section-3 .u-text-20 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-3 .u-text-21 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 581px;
  animation-duration: 1000ms;
}

.u-section-3 .u-text-22 {
  font-style: italic;
  margin: 25px calc(((100% - 1140px) / 2) + 68px) 0 calc(((100% - 1140px) / 2) + 178px);
}

.u-section-3 .u-line-2 {
  height: 3px;
  transform-origin: right center 0px;
  margin: 50px auto 0 0;
}

.u-section-3 .u-group-2 {
  min-height: 147px;
  height: auto;
  background-image: none;
  animation-duration: 2000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-image-1 {
  width: 398px;
  height: 111px;
  margin: 37px auto 0 44px;
}

.u-section-3 .u-image-2 {
  width: 149px;
  height: 149px;
  margin: -150px auto 0;
}

.u-section-3 .u-image-3 {
  width: 298px;
  height: 72px;
  margin: -109px 57px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 1510px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 467px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 106px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 113px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 467px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 81px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 22px;
    margin-left: 48px;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 467px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 98px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 116px;
  }

  .u-section-3 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 479px;
  }

  .u-section-3 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 479px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 479px;
  }

  .u-section-3 .u-text-22 {
    margin-top: 66px;
    margin-right: calc(((100% - 940px) / 2) + -13px);
    margin-left: calc(((100% - 940px) / 2) + 318px);
  }

  .u-section-3 .u-line-2 {
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1031px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 80px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 85px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: -28px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 26px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 17px;
    margin-left: 1px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 74px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 87px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 367px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 367px;
  }

  .u-section-3 .u-text-22 {
    margin-right: calc(((100% - 720px) / 2) + -10px);
    margin-left: calc(((100% - 720px) / 2) + 244px);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2416px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 196px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 209px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 132px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 264px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 42px;
    margin-left: 203px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 182px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 214px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 826px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 826px;
  }

  .u-section-3 .u-text-22 {
    margin-right: calc(((100% - 540px) / 2) + -7px);
    margin-left: calc(((100% - 540px) / 2) + 183px);
  }

  .u-section-3 .u-line-2 {
    margin-top: -40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1804px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 123px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 132px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 56px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 139px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 26px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-13 {
    margin-right: 115px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-16 {
    margin-right: 135px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 520px;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 520px;
  }

  .u-section-3 .u-text-22 {
    margin-top: 126px;
    margin-right: calc(((100% - 340px) / 2) + -4px);
    margin-left: calc(((100% - 340px) / 2) + 115px);
  }

  .u-section-3 .u-line-2 {
    margin-top: -125px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 90px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 89px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -128px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 22px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 217px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: none;
  margin: 53px 30px 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 9px auto 0 17px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px 30px 49px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}