.u-section-1 {
  background-image: url("images/unknowsn.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 244px 64px 0 698px;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: 0 51px 60px 711px;
}

.u-section-1 .u-line-1 {
  width: 295px;
  left: auto;
  top: 314px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  right: 162px;
}

.u-section-1 .u-line-2 {
  width: 295px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  left: auto;
  top: 229px;
  right: 162px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 562px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 562px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 342px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    width: 378px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 583px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 533px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-weight: 900;
  font-size: 2.25rem;
  margin: 96px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 16.29%;
  background-position: 50% 16.29%;
  width: 481px;
  left: 30px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 439px;
    background-position: 50% 16.29%;
  }

  .u-section-2 .u-image-1 {
    right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 407px;
    right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
  }
}.u-section-3 {
  min-height: 1456px;
  background-image: none;
}

.u-section-3 .u-shape-1 {
  height: 745px;
  width: calc(((100% - 1140px) / 2) + 896px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -634px auto 60px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/pic1.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-2 {
  background-image: url("images/pic2.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 438px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/pic7.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-4 {
  background-image: url("images/pic4.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-5 {
  background-image: url("images/pic6.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-custom-php-1 {
  width: 180px;
  min-height: 72px;
  margin: 168px auto;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-image-6 {
  min-height: 438px;
  background-image: url("images/pic8.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 1225px;
  }

  .u-section-3 .u-shape-1 {
    height: 618px;
    width: 887px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -507px;
  }

  .u-section-3 .u-image-1 {
    min-height: 361px;
  }

  .u-section-3 .u-image-2 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-3 .u-image-3 {
    min-height: 361px;
  }

  .u-section-3 .u-image-4 {
    min-height: 361px;
  }

  .u-section-3 .u-image-5 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 361px;
  }

  .u-section-3 .u-image-6 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 973px;
  }

  .u-section-3 .u-shape-1 {
    height: 492px;
    width: calc(((100% - 720px) / 2) + 670px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -381px;
  }

  .u-section-3 .u-image-1 {
    min-height: 277px;
  }

  .u-section-3 .u-image-2 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-3 .u-image-3 {
    min-height: 277px;
  }

  .u-section-3 .u-image-4 {
    min-height: 277px;
  }

  .u-section-3 .u-image-5 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 277px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 3880px;
  }

  .u-section-3 .u-shape-1 {
    height: 1652px;
    width: calc(((100% - 540px) / 2) + 420px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1541px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 623px;
  }

  .u-section-3 .u-image-2 {
    min-height: 623px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 623px;
  }

  .u-section-3 .u-image-3 {
    min-height: 623px;
  }

  .u-section-3 .u-image-4 {
    min-height: 623px;
  }

  .u-section-3 .u-image-5 {
    min-height: 623px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 416px;
  }

  .u-section-3 .u-image-6 {
    min-height: 416px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 623px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 2494px;
  }

  .u-section-3 .u-shape-1 {
    height: 1445px;
    width: calc(((100% - 340px) / 2) + 270px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1334px;
  }

  .u-section-3 .u-image-1 {
    min-height: 392px;
  }

  .u-section-3 .u-image-2 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-3 .u-image-3 {
    min-height: 392px;
  }

  .u-section-3 .u-image-4 {
    min-height: 392px;
  }

  .u-section-3 .u-image-5 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 392px;
  }

  .u-section-3 .u-image-6 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 392px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 808px;
}

.u-section-4 .u-group-1 {
  width: 632px;
  min-height: 305px;
  margin: 167px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 449px;
  height: 543px;
  animation-duration: 1000ms;
  margin: -424px auto 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px 418px 0 457px;
}

.u-section-4 .u-text-2 {
  width: 427px;
  font-weight: 700;
  line-height: 2;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-top: 158px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 318px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    margin-top: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -349px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-4 .u-image-1 {
    width: 280px;
    height: 411px;
    margin-top: -272px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 217px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: none;
  margin: 53px 30px 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 9px auto 0 17px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px 30px 49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}